*{
    margin: 0;

}

body{
    text-align: center;
}
#tablero{
    background-color: #e0e1dd;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 95vmin;

}

#contenedor1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#vidas, #nivel, #palabrasCorrectas{
    padding-right: 20px;
    margin: 20px;
}
#tiempoRestante{
    display: flex;
    justify-content: center;
    font-size: 46px;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url(imagenes/fondoMorado.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}


#menu button{
    font-size: 20px;
    padding: 10px;
    /*Tamaño del boton;*/
    width: 10%;
}

