*{
    background-color: #e0e1dd;
}
h2{
    font-size: 16px;
}
h3{
    font-size: 14px;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#titulo h1{
    background-color: #3D5820;
    width: 100%;
    margin: 0;
    padding: 0;
}
#titulo{
    width: 100%;
    text-align: center;
    color: #e0e2db;

}

#instrucciones{
    border: 3.5px solid #3D5820;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 50%;
    text-align: center;
}

button{
    color: #3D5820;
    width: 20%;
    height: 30%;
    font-size: 18px;
    margin-bottom: 5%;
    border-radius: 40px;
    padding: 20px;
}

button:hover{
    background-color: #3D5820;
    color: #e0e2db;
}